/* Template buat reset design mobsite: Eric meyer */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* NAVIGATION BAR */
.navigation-siapayaa {
    display: flex;
    border-bottom: 2px solid blue
}

.navigation-siapayaa1 {
    flex: 1;
}

.navigation-siapayaa2 {
    flex: 3;
}

#logo-revou-nav {
    width: 60px;
    height: 60px;
    margin-left: 30px;
    margin-top: 4px;
}

.menu-navigation {
    display: flex;
    justify-content: right;
    margin-top: 10px;
    margin-right: 95px;

}

.menu-navigation > li {
    padding: 10px 40px 10px 40px;
    border: 1px solid black;
    list-style-type: none;
    background-color: whitesmoke;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}

/* Content */

.siapayaaa1 {
    display: flex;

}

.hoyaaa1 {
    display: flex;
}

.kenapayahhh2-form2 {
    display: table;
    flex: 1;
    text-align: center;
    position: relative;
    align-content: center;
    flex-direction: column;
}

table {
    position: absolute;
    margin-top: 148px;
    margin-right: 180px;
}

table,th,td {
    border: 1px solid black;
    border-collapse:collapse;
    padding: 10px 30px 10px 30px;
    vertical-align: middle;
}

th {
    background-color: whitesmoke;
    font-weight: bold;
}

h1 {
    margin: 50px 0px 10px 290px;
    font-size: 28px;
    font-weight: bold;
}

p {
    margin-left: 290px ;
    margin-bottom: 30px;
}

ul > li {
    margin: 10px 0px 30px 290px;
    list-style-type: none;
}

/*  FORM */

.siapayaaa1-form1 {
    display: flex;
   
}

.apaya1-form1 {
    flex: 1;
    margin-right: 30px;
}

.apaya2-form2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 258px;
}

#input-name {
    width: 350px;
    margin: 10px 10px 5px 10px;
}

#input-date {
    width: 353px;
    margin: 17px 10px 5px 10px;
}

#tap-gender {
    display: flex;
    margin: 27px 10px 32px 10px;
}

#input-message {
    width: 350px;
    margin-left: 10px;
}

#button-submit {
    width: 250px;
    margin-top: 100px;
    margin-right: 1px;
    margin-bottom: 150px;

}
    

/* FOOTER */

footer {
    display: flex;
    margin: 20px;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}


.label-name {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
    background-color: black;
    color: whitesmoke;
    justify-content: right;
}