/* Template buat reset design mobsite: Eric meyer */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* NAVIGATION BAR */
.navigation-siapayaa {
    display: flex;
    border-bottom: 2px solid blue
}

.navigation-siapayaa1 {
    flex: 1;
}

.navigation-siapayaa2 {
    flex: 3;
}

#logo-revou-nav {
    width: 60px;
    height: 60px;
    margin-left: 30px;
    margin-top: 4px;
}

.menu-navigation {
    display: flex;
    justify-content: right;
    margin-top: 10px;
    margin-right: 95px;

}

.menu-navigation > li {
    padding: 10px 40px 10px 40px;
    border: 1px solid black;
    list-style-type: none;
    background-color: whitesmoke;
    margin: 0px;
}
/* Content */

.content-1 {
    flex: 1;
    border-bottom: 5px solid aquamarine;
    border-style: double;

}

#garut{
    margin-left: 290px;
    height: 578px;
    width: 1368px;

}

.content-2{
    flex: 1;

}

#our-hq {
    font-size: 28px;
    font-weight: bold;
}


h1 {
    margin: 20px 0px 10px 290px;
    font-size: 28px;
    font-weight: bold;
}

p{
    margin-left: 290px;
    margin-bottom: 30px;

}

#jkt48 {
    height: 250px;
    width: 250px;
    border-radius: 250px;
    margin-right: 25px;
}

#pasupati {
    height: 250px;
    width: 250px;
    border-radius: 250px;
    margin-right: 25px;
}

#manusia {
    height: 250px;
    width: 250px;
    border-radius: 250px;
    margin-right: 25px;
}

/* FOOTER */

footer {
    display: flex;
    margin: 20px;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}


.label-name {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
    background-color: black;
    color: whitesmoke;
    justify-content: right;
}